

<body>

  <div id="container">

    <div id="main-body">
      
      </form>

      <div>
        <div style="float: left; text-align: center;">
          <form th:method="post" th:action="@{/login/process}">
            <div style="float: left; padding-left: 50px;">
              <div>
                <div style="text-align: left;">
                  <h3>Email:</h3>
                </div>
                <div class="col">
                  <input id="input-1" name="email" type="email">
                </div>
              </div>
              <hr>
              <div>
                <div style="text-align: left;">
                  <h3>Password: </h3>
                </div>
                <div class="col">
                  <input id="input-1" name="password" type="password">
                </div>
              </div>
              <hr>
            </div>
            <div style="text-align: center;">
              <div style="text-align: center; padding-top: 10%;">
                <a id="btn-1" href="/">Cancel</a>
                <button id="btn" type="submit">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</body>

</html>