<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>User</title>
  <link th:href="@{/css/main.css}" href="/css/main.css" rel="stylesheet" />
</head>

<body>
  <header style="position: relative; padding: 1%;">

    <div style="float: left; width: 48%;">
      <a id="btn" href="/">Main</a>
    </div>
    <div style="float: left; width: 48%;">

      <div style="text-align: right;">
        <div th:if="!${login}">
          <a id="btn" href="/login">Sign in</a>
        </div>
        <div th:if="${login}">
          <a id="btn" href="/logout">Logout</a>
          <a id="pic" th:href="@{/user/{id} ( id=${principal.getId()} ) }"><img src="/img/icon_user.png" width="65" height="65" alt=""></a>
        </div>
      </div>

    </div>

  </header>

  <div id="container">
    <div id="main-body">
      <div>
        <p th:text="${msg}" style="font-size: x-large; font-family: 'Courier New', Courier, monospace;"> msg </p>
      </div>
      <nav aria-label="lindx" id="header">
        <ol class="lindx">
          <li class="lindx-item"> <a href="/">Main</a></li>
          <li class="lindx-item"> <a href="/admin">User</a></li>
          <li class="lindx-item" th:text="' id: ' + ${user.getId()}"> user </li>
        </ol>
      </nav>
      <div>
        <div style="float: left; text-align: center;">
          <img src="/img/user.png" alt="Admin" width="70%" style="size: 70%;">

          <form th:method="delete" th:action="@{
                                      /admin/user/{id} (id = ${user.getId()})
                          }" style="text-align: left; padding-top: 10%;">
            <h3>
              <p th:text="${user.getFirstName() + ' ' + user.getLastName()}"> owner </p>
            </h3>
            <p>Full Stack Developer</p>

            <a id="btn-1" th:href="@{
                                      /admin/user/{id}/edit (id= ${user.getId()})
                          }">Edit</a>

            <button id="btn" type="submit">Delete </button>
          </form>
        </div>
        <div style="float: left; padding-left: 50px;">
          <div>
            <div style="text-align: left;">
              <h3 style="padding-right: 140px;">First Name</h3>
            </div>
            <div class="col" style="text-align: left;">
              <span th:text="${user.getFirstName()}"></span>
            </div>
          </div>
          <hr>
          <div>
            <div style="text-align: left;">
              <h3>Last Name</h3>
            </div>
            <div class="col" style="text-align: left;">
              <span th:text="${user.getLastName()}"></span>
            </div>
          </div>
          <hr>
          <div>
            <div style="text-align: left;">
              <h3>Email</h3>
            </div>
            <div class="col" style="text-align: left;">
              <span th:text="${user.getEmail()}"></span>
            </div>
          </div>
          <hr>
          <div>
            <div style="text-align: left;">
              <h3>Password</h3>
            </div>
            <div class="col" style="text-align: left;">
              <span th:text="${user.getPassword()}"></span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

  </div>
</body>

</html>