<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/light.css">
  <title>Main</title>
</head>
<body>
  <div class="navbar navbar-inverse fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a href="https://github.com/lindXdeep/" class="navbar-brand">lindx</a>
      </div>

      <div>
        <form action="" method="post" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <button type="submit">Sign in</button>
        </form>
      </div>

    </div>
  </div>


  <div class="container-fluid lin-1">
    <div class="row lin-2">
      <div class="col lin-3">
        <p>hello!</p>
        <p>i'm spring mvc application!</p>
        <p>5.2.0 version by sep'19</p>
      </div>
    </div>
  </div>
</body>
</html>