<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" />

  <title>Нello Controller</title>
</head>

<body>
  <div class="navbar navbar-inverse fixed-top">
    <div class="container">

      <div class="navbar-header">

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
				</button>

        <a href="https://github.com/lindXdeep/" class="navbar-brand">lindx</a>
      </div>

      <div class="navbar-collapse collapse">
        <form action="" method="post" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>

    </div>
  </div>

  <div class="container-fluid jumbotron">
    <div class="row top-name center-block text-center">
      <div class="col">
        <h1 class="display-4">hello!</h1>
        <p class="lead h3"><strong>i'm spring mvc application!</strong></p>
        <hr class="my-4">
        <p>5.2.0 version by sep'19</p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery/jquery-3.6.0.min.js" th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
  <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>

</body>

</html>