<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>User</title>
    <link th:href="@{/css/main.css}" href="/css/main.css" rel="stylesheet" />
</head>

<body>
    <div id="container">

        <div id="header-btn">

            <div>
                <p>
                    <a id="btn" href="/">Go to Main</a>
                    <a id="btn" href="/cars">Go to Cars</a>
                    <a id="btn" href="/users">Go to Users</a>
                </p>
            </div>

            <div id="main-body">

                <div>
                    <p th:text="${msg}" style="font-size: x-large; font-family: 'Courier New', Courier, monospace;"> msg </p>
                </div>

                <nav aria-label="lindx" id="header">
                    <ol class="lindx">
                        <li class="lindx-item"> <a href="/">Main</a></li>
                        <li class="lindx-item"> <a href="/users">User</a></li>
                        <li class="lindx-item active" th:text="' id: ' + ${user.getId()}"> User </li>
                    </ol>
                </nav>

                <div>
                    <div style="float: left; text-align: center;">

                        <img src="/img/userpic.png" alt="Admin" width="200" style="size: 200%;">

                        <form th:method="delete" th:action="@{
                            
                                                        /user/{id} (id = ${user.getId()})

                                        }" style="text-align: left; padding-top: 10%;">


                            <h3>
                                <p th:text="${user.getFirstName() + ' ' + user.getLastName()}"> owner </p>
                            </h3>
                            <p>Full Stack Developer</p>

                            <a id="btn" th:href="@{

                                                /user/{id}/edit (id= ${user.getId()})

                                                }">Edit</a>

                            <input id="btn" type="submit" value="Delete" />
                        </form>
                    </div>

                    <div style="float: left; padding-left: 50px;">
                        <div>
                            <div style="text-align: left;">
                                <h3 style="padding-right: 140px;">First Name</h3>
                            </div>
                            <div class="col" style="text-align: left;">
                                <span th:text="${user.getFirstName()}"></span>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div style="text-align: left;">
                                <h3>Last Name</h3>
                            </div>
                            <div class="col" style="text-align: left;">
                                <span th:text="${user.getLastName()}"></span>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div style="text-align: left;">
                                <h3>Email</h3>
                            </div>
                            <div class="col" style="text-align: left;">
                                <span th:text="${user.getEmail()}"></span>
                            </div>
                        </div>
                        <hr>

                        <div>
                            <div style="text-align: left;">
                                <h3>Owner</h3>
                            </div>
                            <div class="col" style="text-align: left;">
                                <a th:href="@{/car/{id} (id=${user.getCar().getId()}) }" th:text="${user.getCar().getModel() + ' ' + user.getCar().getSeries()}"> car </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>